.about-container
{
    padding: 60px 100px;
}

.about-header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.about-header h1
{
    font-size: 54px;
    font-weight: 500;
}

.hr
{
    height: 140px;
    width: 2px;
    background-color: #474747;
}

.about-content
{
    margin-left: 50px;
}

.about-content h1
{
    font-size: 32px;
}

.about-content p
{
    margin-top: 20px;
    font-size: 18px;
    color: #474747;
    line-height: 24px;
}

@media screen and (max-width:1020px)
{
    .about-header
    {
        display: flex;
        flex-direction: column;
    }

    .about-content
    {
        width: 50%;
        margin-top: 20px;
        margin-left: 0px;
    }

    .hr
    {
        height: 0;
    }   

}